#angularLogo {
  width:10%;
  height:10%;
}

.slides section img{
  border: none;
  box-shadow: none;
}

.whiteTransparentBackground{
  background-color:rgba(255, 255, 255, 0.8);"
}
.resources ul{
  list-style: none;
  text-align: center;
}
/*
.resources a{

  color: black;
  display: inline-block;
  width: 800px;

}
.resources a:hover{
  color: black;
  background-color:rgba(255, 255, 255, 0.8);"
}*/

.fontSize80 {
  font-size: 80% !important;
}

.width80 {
  width: 80%;
}
strong{
  color: red;
}
.tiny{
  font-size: smaller;
}
iframe {
  border: 1px dotted lightgrey;
  width: 100%;
  height: 300px;
}

.warmup .declarativeUiTitle {
  color: #F8F4DC;
}
.warmup #appContainer{
  min-height: 100px;
  border: 1px dotted lightgrey;
  padding: 20px;
}
.warmup #appContainer input{
  height: 40px;
  font-size:40px;
}

.warmup .summaryList em{
  display:block;
  font-size:75%;
}
